/* CSS files add styling rules to your content */

body {
  font-family: Times New Roman, Times, serif;
  margin: 2em;
  background-image: url("https://cdn.glitch.com/14873798-917a-4bb3-925e-1c9ba7ce8593%2Fbadqualityclouds%20lol.jpg?v=1605065623212");
  background-repeat: no-repeat;
  background-size: 1550px 1000px;
  font-family: 'Dancing Script', cursive;
}

h1 {
  font-style: italic;
  color: #373fff;
}
* {
  box-sizing: border-box;
}

.box {
  float: left;
  width: 33.33%;
  height: 20%;
  padding: 50px;
  text-align: center;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.pinkbox {
  background-color: pink;
  font-family: serif;
  padding: 50px;
}

.bluebox {
  background-color: lightblue;
  font-family: serif;
  padding: 50px;
}

.yellowbox {
  background-color: lightyellow;
  font-family: serif;
  padding: 50px;
}

.greenbox {
  background-color: lightgreen;
  font-family: serif;
  padding: 50px;
}

.whitebox {
  background-color: lightgray;
  font-family: serif;
  padding: 50px;
}

.graybox {
  background-color: gray;
  color: white;
  font-family: serif;
  padding: 50px;
}


.threecol {
  width: 33.33%
}

.twocol {
  width: 50%
}

.onecol {
  width: 100%
}

a {}

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: lightblue;
}

/* mouse over link */
a:hover {
  color: purple;
}

/* selected link */
a:active {
  color: blue;
}